@import url('http://getbootstrap.com/2.3.2/assets/css/bootstrap.css');

#ui-view-background
{
}

#entirepage-background
{
}


/*
@media (min-width: 1200px)
.container {
    width: 1170px;
}

@media (min-width: 992px)
.container {
    width: 970px;
}

@media (min-width: 768px)
.container {
    width: 750px;
}
@media (min-width: 500px)
.container {
    width: 7450px;
}
*/
html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

main{
    height: calc(100% - 76px);
    width: 100%;
    margin: 0;
    padding: 0;
}

#map {
	width: 100%;
	height: 100%;
}

nav.navbar {
	margin: 0;
	border:0;
	height:76;
}

@media only screen and (min-width: 1px) {

    .container {
	    width: 350px;
	}
}

@media only screen and (min-width: 500px) {

    .container {
	    width: 450px;
	}
}

@media only screen and (min-width: 700px) {

    .container {
	    width: 650px;
	}
}

@media only screen and (min-width: 900) {

    .container {
	    width: 850px;
	}
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

input.form-control {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-sizing: border-box;
    width: 100%;
    height: 32px;
    padding: 0;
    padding-top: 3px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    color: #333333;
    text-align: left;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: white;
    background-clip: padding-box;
    line-height: 1.33333;
    font-weight: 400;
    letter-spacing: normal;
    display: table-cell;
    vertical-align: baseline;
    font-weight: normal;
}



body{
	
}

table.tableInfoWindow {
    border: 0px solid black;
}
tr.trInfoWindow {
	height: 0px;
}

div.cubeContainer{
	margin-left: 80px;
	width:450px;
}



div.botCatcher {
	visibility: hidden;
	display:none;
}



.ui-widget-header { 
	border: 1px solid #aaaaaa; 
	background: #f6931f; 
	color: #222222; 
	font-weight: bold; 
}

span.glyphicon {
    font-size: 50px;
	color:#6CC417;
}

nav.navbar {
    color: #FFFFFF;
    background-color: #FFFFFF;
}