@import url('http://getbootstrap.com/2.3.2/assets/css/bootstrap.css');



body{
	background-image: url("background.png");
}
table.tableInfoWindow {
    border: 0px solid black;
}
tr.trInfoWindow {
	height: 0px;
}

div.cubeContainer{
	margin-left: 80px;
	width:450px;
}



div.botCatcher {
	visibility: hidden;
	display:none;
}



.ui-widget-header { 
	border: 1px solid #aaaaaa; 
	background: #f6931f; 
	color: #222222; 
	font-weight: bold; 
}

span.glyphicon {
    font-size: 50px;
	color:#6CC417;
}

nav.navbar {
    color: #FFFFFF;
    background-color: #FFFFFF;
}