@import url('http://getbootstrap.com/2.3.2/assets/css/bootstrap.css');
.fadein,
.fadeout {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}

.ng-hide {
  height: 0;
  width: 1;
  top:-400px;
  left: 200px;
}
/*
.dropdown:hover .dropdown-menu {
    display: block;
    background-color: #FFFFFF;
    transition-delay: 2s;
    transition-duration: 4s;
}

.dropdown-menu > .active >a{
    background-color: #FFFFFF;
    background-image: linear-gradient(to bottom, #FFFFFF, #FFFFFF);
}




.menuStyle:hover,
.menuStyle:focus {
    background-color: #6CC417;
    border-bottom: 3px solid #6CC417;}


@media (min-width: 1200px)
.container {
    width: 1170px;
}

@media (min-width: 992px)
.container {
    width: 970px;
}

@media (min-width: 768px)
.container {
    width: 750px;
}
@media (min-width: 500px)
.container {
    width: 7450px;
}
*/

#menuOnMapWrapper{
    
}

#searchForm{
    transition: all linear 0.5s;
    width:300px;
    float: left; 
    padding-left: 15px; 
    padding-right: 15px;
    padding-top: 15px; 
    padding-bottom: 15px;
    position:absolute;
    z-index: 99;
    background-color: #FFFFFF;
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

main{
    height: calc(100% - 105px);
    width: 100%;
    margin: 0;
    padding: 0;
}

#map {
    position:absolute;
	width: 100%;
	height: calc(100% - 105px);
}

nav.navbar {
	margin: 0;
	border:0;
}

@media only screen and (min-width: 1px) {
    .container {
	    width: 350px;
	}
    #logo{
        content:url("logosmall.png");
    }
    #homePageImg{
        content:url("dallas.jpg"); 
        max-width: 100%;height: auto;
    }

}

@media only screen and (min-width: 500px) {

    .container {
	    width: 450px;
	}
    #logo{
        content:url("logo.png");
    }
    #homePageImg{
        content:url("college_station_b.jpg"); 
        max-width: 100%;height: auto;
    }
}

@media only screen and (min-width: 700px) {

    .container {
	    width: 650px;
	}
}

@media only screen and (min-width: 900px) {

    .container {
	    width: 850px;
	}
    #homePageImg{
        content:url("dallas2.jpg"); 
        max-width: 100%;height: auto;
    }
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

input.form-control {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-sizing: border-box;
    width: 100%;
    height: 32px;
    padding: 0;
    padding-top: 3px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    color: #333333;
    text-align: left;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: white;
    background-clip: padding-box;
    line-height: 1.33333;
    font-weight: 400;
    letter-spacing: normal;
    display: table-cell;
    vertical-align: baseline;
    font-weight: normal;
}



body{
	
}

table.tableInfoWindow {
    border: 0px solid black;
}
tr.trInfoWindow {
	height: 0px;
}

div.cubeContainer{
	margin-left: 80px;
	width:450px;
}



div.botCatcher {
	visibility: hidden;
	display:none;
}



.ui-widget-header { 
	border: 1px solid #aaaaaa; 
	background: #f6931f; 
	color: #222222; 
	font-weight: bold; 
}

span.glyphicon {
    font-size: 50px;
	color:#6CC417;
}

nav.navbar {
    color: #FFFFFF;
    background-color: #FFFFFF;
}