
<div class="container">
	<h1>postTenantInfo</h1>
    <form method="post">
        <input class="form-control" id="house.area" ng-model="vm.house.area" type="text" placeholder="area" required/>
        <label for="trafficInfo"><input type="checkbox" id="house.trafficInfo" ng-model="vm.house.trafficInfo"> trafficInfo</label>

        <select class="form-control" ng-model="vm.house.roommateGender" required>
            <option value="" disabled="">roommateGender</option>
            <option value="male">male</option>
            <option value="female">female</option>
            <option value="dontCare">dontCare</option>
            <option value="none">none</option>
        </select>

        <select class="form-control" ng-model="vm.house.bathroom" required>
            <option value="" disabled="">bathroom</option>
            <option value="private">private</option>
            <option value="dontCare">dontCare</option>
        </select>


        <input class="form-control" type="text" datepicker="" ng-model="vm.fromdt" placeholder="fromdt" required/>
        <input  class="form-control" type="text" datepicker="" ng-model="vm.todt" ng-disabled="vm.todtlongterm == true" placeholder="todt" required/>
        <input type="checkbox" id="todtlongterm" ng-model="vm.todtlongterm" ng-click="vm.todt = null" > longterm</label>

        <input class="form-control" type="text" id="house.email" class="form-control" ng-model="vm.house.email" placeholder="email" required />
        <input class="form-control" type="text" id="house.wechat" class="form-control" ng-model="vm.house.wechat" placeholder="wechat"/>
        <input class="form-control" type="text" id="house.cell" class="form-control" ng-model="vm.house.cell" placeholder="cell"/>
        <input class="form-control" type="text" id="house.other" class="form-control" ng-model="vm.house.other"  placeholder="other"/>
        <button class="btn btn-primary" ng-click="vm.PostTenantInfo()">Post</button>

        <div class="botCatcher">
            <label for="botCatcher">
            <input type="checkbox" id="house.botCatcher" ng-model="vm.house.botCatcher"> botCatcher</label>
        </div>
    </form>
</div>