<!DOCTYPE html>
<html>
    <head>
        <style>
          #map {
            width: 1000px;
            height: 800px;
          }
        </style>
    </head>
<h1>Find House</h1>
<div class="form-container">
    <form method="post">
        <div class="form-group">
            <label for="mySearch.address1">Place around my work</label>
            <input type="text" id="mySearch.address1" class="form-control" ng-model="vm.mySearch.address1" placeholder="123 street name city state"/>
            <label for="mySearch.mile1">Maximum distance away</label>
            <select class="form-control" ng-init="vm.mySearch.mile1 = vm.mySearch.mile1 || '1'" ng-model="vm.mySearch.mile1">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="30">30</option>
            </select> 
        </div>

        <!-- <div class="form-group">
            <label for="mySearch.address2">Place around my work</label>
            <input type="text" id="mySearch.address2" class="form-control" ng-model="vm.mySearch.address2" placeholder="123 street name city state"/>
            <label for="mySearch.mile2">Maximum distance away</label>
            <select class="form-control" ng-init="vm.mySearch.mile2 = vm.mySearch.mile2 || '1'" ng-model="vm.mySearch.mile2">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="30">30</option>
            </select> 
        </div>

        <div class="form-group">
            <label for="mySearch.address3">Place around my work</label>
            <input type="text" id="mySearch.address3" class="form-control" ng-model="vm.mySearch.address3" placeholder="123 street name city state"/>
            <label for="mySearch.mile3">Maximum distance away</label>
            <select class="form-control" ng-init="vm.mySearch.mile3 = vm.mySearch.mile3 || '1'" ng-model="vm.mySearch.mile3">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="30">30</option>
            </select> 
        </div> -->
        <div class="form-group">
            <button class="btn btn-primary" ng-click="vm.searchInfo()">Search</button>
        </div>
    </form>
</div>
<body>
    <div id="map"></div>
    <script src="./findHouse/googleMap.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
        async defer></script>
  </body>
</html>