<h1>Find House</h1>
<div class="form-container">
    <form method="post">
        <div class="form-group">
            <label for="firstName">address</label>
            <input type="text" id="house.address" class="form-control" ng-model="vm.house.address" required />
        </div>
        <div class="form-group">
            <label for="lastName">other</label>
            <input type="text" id="house.other" class="form-control" ng-model="vm.house.other" required />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" ng-click="vm.postInfo()">Post</button>
        </div>
    </form>
</div>