<script src="./singleHouse/mapSearchBox.js"></script>
<div class="container">
	<h1>wholeHouse</h1>
    <form method="post">
        <input class="form-control" id="house.address" ng-model="vm.house.address" type="text" placeholder="Address" required/>
        <label for="trafficInfo"><input type="checkbox" id="house.trafficInfo" ng-model="vm.house.trafficInfo"> trafficInfo</label>

        <input type="text" id="house.price" class="form-control" ng-model="vm.house.price" placeholder="monthly rental rate" required />
        

        <input class="form-control" type="text" datepicker="" ng-model="vm.fromdt" placeholder="fromdt" required/>
        <input  class="form-control" type="text" datepicker="" ng-model="vm.todt" ng-disabled="vm.todtlongterm == true" placeholder="todt" required/>
        <input type="checkbox" id="todtlongterm" ng-model="vm.todtlongterm" ng-click="vm.todt = null" > longterm</label>

        <input class="form-control" type="text" id="house.email" class="form-control" ng-model="vm.house.email" placeholder="email" required />
        <input class="form-control" type="text" id="house.wechat" class="form-control" ng-model="vm.house.wechat" placeholder="wechat"/>
        <input class="form-control" type="text" id="house.cell" class="form-control" ng-model="vm.house.cell" placeholder="cell"/>
        <input class="form-control" type="text" id="house.other" class="form-control" ng-model="vm.house.other"  placeholder="other"/>
        <button class="btn btn-primary" ng-click="vm.postInfo()">Post</button>


        <div class="botCatcher">
            <label for="botCatcher">
            <input type="checkbox" id="house.botCatcher" ng-model="vm.house.botCatcher"> botCatcher</label>
        </div>
    </form>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDU_XVhW9_KdqIiaEgL7CYxHx-gab8qt5A&libraries=places&callback=initMap" async defer></script>